
:root {
  --q-terciary: #808080;
  --q-body: #cccccc;
  
}

.text-gray-200 {
  color: $gray-200;
}
.bg-gray-200 {
  background: $gray-200;
}
.text-gray-100 {
  color: $gray-100;
}
.bg-gray-100 {
  background: $gray-100;
}
.text-gray-50 {
  color: $gray-50;
}
.bg-gray-50 {
  background: $gray-50;
}


body {

  &.body--dark {
    color: var(--q-body) !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--q-body);
    }
    a {
      color: var(--q-body);

      &:hover {
        color: var(--q-terciary);
      }
    }
  }
}

a {
  text-decoration: none;
}

.bg {
  &-terciary {
    background-color: var(--q-terciary) !important;
  }
  &-body {
    background-color: var(--q-body) !important;
  }
}
.text {
  &-terciary {
    color: var(--q-terciary) !important;
  }
  &-body {
    color: var(--q-body) !important;
  }
}

.container {
  max-width: 95%;
}

@media (min-width: $breakpoint-sm-min) {
  .container {
    max-width: 85%;
  }
}
@media (min-width: $breakpoint-md-min) {
  .container {
    max-width: 75%;
  }
  .text-columns-md-2 {
    columns: 2;
  }
}
@media (min-width: $breakpoint-lg-min) {
  .container {
    max-width: 65%;
  }
}