// src/css/quasar.variables.scss

// $primary   : #1976D2;
// $primary   : #10b981;
$primary   : #0ea5e9;
$secondary : #26A69A;
$accent    : #9C27B0;

// $dark      : #1d1d1d;
$dark      : #0f172a;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$primary-50: #f0f9ff;
$primary-100: #e0f2fe;
$primary-200: #bae6fd;
$primary-300: #7dd3fc;
$primary-400: #38bdf8;
$primary-500: #0ea5e9;
$primary-600: #0284c7;
$primary-700: #0369a1;
$primary-800: #075985;
$primary-900: #0c4a6e;
$primary-950: #082f49;

// $primary-50: #ecfdf5;
// $primary-100: #d1fae5;
// $primary-200: #a7f3d0;
// $primary-300: #6ee7b7;
// $primary-400: #34d399;
// $primary-500: #10b981;
// $primary-600: #059669;
// $primary-700: #047857;
// $primary-800: #065f46;
// $primary-900: #064e3b;
// $primary-950: #022c22;
 
$gray-50: #f8fafc;
$gray-100: #f1f5f9;
$gray-200: #e2e8f0;
$gray-300: #cbd5e1;
$gray-400: #94a3b8;
$gray-500: #64748b;
$gray-600: #475569;
$gray-700: #334155;
$gray-800: #1e293b;
$gray-900: #0f172a;
$gray-950: #020617;


$linear-1: rgba(255, 255, 255, 0) !default;
$linear-2: rgba(255, 255, 255, 1) !default;
$linear-dark-1: rgba(18, 18, 18, 0) !default;
$linear-dark-2: rgba(18, 18, 18, 1) !default;
// // /* Color Theme Swatches in Hex */
// $Law-Firm-1-hex: #003266;
// $Law-Firm-2-hex: #4f5b69;
// $Law-Firm-3-hex: #4d4d4d;
// $Law-Firm-4-hex: #808080;
// $Law-Firm-5-hex: #cccccc;

// $primary: $Law-Firm-1-hex;
// $secondary: $Law-Firm-3-hex;
// $terciary: $Law-Firm-4-hex;
// $accent: $Law-Firm-2-hex;
// $dark: #272d34;
// $body: $Law-Firm-5-hex;
// $dark-page: #001933;

// $body-font-size: 16px;

// $h1: (
//   size: 4rem,
//   line-height: 4rem,
//   letter-spacing: -0.01562em,
//   weight: 300,
// );
// $h2: (
//   size: 2.75rem,
//   line-height: 2.75rem,
//   letter-spacing: -0.00833em,
//   weight: 300,
// );
// $h3: (
//   size: 2rem,
//   line-height: 2.125rem,
//   letter-spacing: normal,
//   weight: 400,
// );
// $h4: (
//   size: 2.125rem,
//   line-height: 2.5rem,
//   letter-spacing: 0.00735em,
//   weight: 400,
// );
// $h5: (
//   size: 1.5rem,
//   line-height: 2rem,
//   letter-spacing: normal,
//   weight: 400,
// );
// $h6: (
//   size: 1.25rem,
//   line-height: 2rem,
//   letter-spacing: 0.0125em,
//   weight: 500,
// );
// $subtitle1: (
//   size: 1rem,
//   line-height: 1.75rem,
//   letter-spacing: 0.00937em,
//   weight: 400,
// );
// $subtitle2: (
//   size: 0.875rem,
//   line-height: 1.375rem,
//   letter-spacing: 0.00714em,
//   weight: 500,
// );
// $body1: (
//   size: 1rem,
//   line-height: 1.5rem,
//   letter-spacing: 0.03125em,
//   weight: 400,
// );
// $body2: (
//   size: 0.875rem,
//   line-height: 1.25rem,
//   letter-spacing: 0.01786em,
//   weight: 400,
// );
// $overline: (
//   size: 0.75rem,
//   line-height: 2rem,
//   letter-spacing: 0.16667em,
//   weight: 500,
// );
// $caption: (
//   size: 0.75rem,
//   line-height: 1.25rem,
//   letter-spacing: 0.03333em,
//   weight: 400,
// );

